*{
    color:black;
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
}

input{
    color:black;
}

#submit{
    color:darkcyan;
}

select{
    color:darkcyan;
    height: 40px;
}

option{
    color:darkcyan;
    font-size: 20px;
}

.card {
    display:inline-block;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .card-header img {
    width: 120%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }

  #description {
      font-size:15px;
  }
  
  #title {
      font-size: 22px;
  }

  .white {
      color: white;
  }